<div id="react-root"></div>

<script>
  window.MY_CLASSROOM = {
    user: {
      username: '<%= @current_user&.username %>',
      name: '<%= @current_user&.name %>',
      isLoggedin: <%= @current_user.present? %>,
      id: <%= @current_user&.id %>,
      time: '<%= DateTime.now.to_s %>',
      profilePic: '<%= @current_user&.profile_pic || '' %>',
    },
    classroom: <%= raw @current_user&.classrooms&.first&.to_json || {} %>
  };

  window.ENV_VARS = {
    mode: '<%= Rails.env %>'
  };
</script>

<%= javascript_pack_tag 'index' %>
