<!DOCTYPE html>
<html>
  <head>
    <title>My Classroom</title>
    <meta description="Learn and study together with your peers in a very lucid and collaborative environment. Keep track of your progress and be a better version of yourself everyday :)">
    <meta property="og:title" content="My Classroom - Collaborative Learning Made Easy" />
    <meta property="og:description" content="Learn and study together with your peers in a very lucid and collaborative environment. Keep track of your progress and be a better version of yourself everyday :)" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
